Resources/dbTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<!-- ************************************************************************
   XSD schema typů použitých ve WSDL pro manipulaci s datovými schránkami a ve WSDL pro vyhledávání DS

   verze: 3.09
   klasifikace: Veřejný dokument    
             
 změny:
  9.2.2009  verze 0.1  základní verze
 20.3.2009  verze 1.0  - přidány elementy (na první úrovni) k jednotlivým typům pro použití jako parametry ve WSDL (document/literal)+komplexní typy pro tyto elementy popisující jednotlivé parametry operací
 13.5 2009  verze 1.5  - odstraněn nepotřebný element GetOwnerInfoFromLogin  					
                       - doplněna kardinalita některých elementů v odpovědích od serveru - při výskytu některých chyb se vrací pouze dbStatus
                       - doplněna vlastnosti nillable = TRUE u některých elementů vč. stringových
  3.6.2009  verze 2.0  - novela zákona 300/2008 Sb.
                       - ve struktuře tdbOwnerInfo přibylo 5 elementů: 
                                - identifier typu string:   externí identifkátor schránky pro poskytovatele dat OVM a PO, možná PFO
                                - registryCode typu string: kód externího registru PFO
                                - dbState typu int:         stav DS (0-?) pouze 1 = aktivní DS k doručování, použití ve FindDataBox
                                - dbEffectiveOVM typu boolean:   příznak, že DS vystupuje jako OVM (§5a) 
                                - dbOpenAddressing typu boolean: příznak, že ne-OVM DS má aktivováno volné adresování (§18a)
                       - ve struktuře tdbUserInfo přibylo 5 elementů:
                                - ic typu string:        IČ firmy (PO), který vystupuje v datech z OR jako statutární zástupce této PO
                                - firmName typu string:  jméno firmy (PO), který vystupuje v datech z OR jako statutární zástupce této PO
                                - caStreet typu string:  ulice a čísla v jednom řetězci pro kontaktní adresu v ČR
                                - caCity typu string:    město pro kontaktní adresu v ČR
                                - caZipCode typu string: PSČ pro pro kontaktní adresu v ČR
                       - na vstupu CreateDataBox přibyly dva nepovinné elementy:
                                - dbUpperDBId typu tIdDb (string 7): ID nadřízené DS typu OVM (§6 a 7)
                                - dbCEOLabel typu string: název funkce vedoucího OVM (pro rozeslání dopisů)
                       - přidány elementy a typy pro WS SetEffectiveOVM  
                       - přidány elementy a typy pro WS ClearEffectiveOVM  
                       - přidány elementy a typy pro WS SetOpenAddressing  
                       - přidány elementy a typy pro WS ClearOpenAddressing  
 11.6.2009 - verze 2.1  - upraveny elementy služby NewAccessData - dbAccessDataId přesunut ze vstupu na výstup a přidán element dbVirtual na vstup
                        - přidány nepovinné elementy dbApproved a dbExterRefNumber v grupě gExtApproval na vstup všech služeb SM
                        - změna namespace pro verzi ISDS 2.0
                        - přidány elementy pro WS Activate
                        - přidány elementy pro WS CreateDataBoxPFOInfo
 1.10.2009 - verze 2.5  - změna délky typu tUserID z 6 na 6-12		
 1.11.2009 - verze 2.6  - komerční provoz
 11.10.2010 - verze 2.10 - u NewAccessData přibyl na vstupu nepovinný element email, na výstupu element dbUserID pro nové ID uživatele, vše pro použití s Aktivačním portálem CzechPointu 
                         - u AddDataBoxUser přibyly na vstupu nepovinné elementy dbVirtual a email, na výstupu elementy dbAccessDataId a dbUserID, vše pro použití s Aktivačním portálem CzechPointu
                         - u CreateDataBox přibyly na vstupu nepovinné elementy dbVirtual a email, na výstupu elementy dbAccessDataId a dbUserID, vše pro použití s Aktivačním portálem CzechPointu (zatím nepoužito)
                         - přidány typy pro WS GetDataBoxList
 23.11.2010 - verze 2.11 - u WS GetDataBoxUsers povolen nulový počet uživatelů
                         - doplněn chybějící dbUserID u CreateDataBox pro CzechPOINT     
 18.02.2011 - verze 2.12 - přidána definice pro neveřejnou WS DeleteDataBoxPromptly   
                         - nové konstanty typu uživatele v tUserType: LIQUIDATOR a OFFICIAL_CERT   
 25.09.2011 - verze 2.15 - novela zákona č.300/2008 Sb.
                         - přidána definice pro novou WS PDZInfo
 06.03.2012 - verze 2.16 - přidána definice pro neveřejnou WS ChangeBoxesType  
 20.11.2012 - verze 2.18 - přidána definice pro WS DataBoxCreditInfo
 1.12.2014 - verze 2.19 - přidána definice pro WS ISDSSearch2
 15.7.2015 - verze 2.20 - přidána definice WS GetDataBoxActivityStatus
                        - přidány nepovinné atributy AIFOTicket u CreateDataBox a AddDataBoxUser
 18.9.2015 - verze 2.21 - přidána definice pro WS FindPersonalDataBox
 14.10.2015 - verze 2.22 - přidána hodnota OVM_MAIN u elementu searchScope ve WS ISDSSearch
 7.1.2016  - verze 2.23 - na vstupu služeb CreateDataBox, UpdateDataBoxDescr, AddDataBoxUser a UpdateDataBoxUser použita rozšířené skupina adresních elementů gAddressExt
 10.3.2016 - verze 2.24 - přidána definice pro DTInfo				
 10.8.2016 - verze 2.25 - přidána definice pro PDZSendInfo				
 31.1.2017 - verze 2.26 - přidány nové typy uživatelů v tUserType: GUARDIAN a RECEIVER
                        - přidán typ schránky PFO_AUDITOR do tDbType a searchScope 
                        - odebrány typy pro nepoužívanou CreateDataBoxPFOInfo a ChangeBoxesType
			            - u CreateDataBox přidány nepovinné atributy pro CzP a atribut PDZ pro zapnutí PDZ příjmu (VT)
 2.5.2017 - verze 2.27	- přidány typy schránek OVM_FO, OVM_PFO a OVM_PO do tDbType a searchScope 
 23.4.2018 - verze 2.28  - přidány definice pro novou WS GetDataBoxUsers2, odstraněny definice pro Activate, SetEffectiveOVM, ClearEffectiveOVM
 23.7.2018 - verze 2.29  - atributy CzP atributy guid, subject a branch (group agCzPInfo) pro CreateDataBox, NewAccessData, AddDataBoxUser, UpdateDataBoxUser, DisableOwnDataBox, DisableDataBoxExternally, EnableOwnDataBox, SetOpenAddressing a ClearOpenAddressing
  4.9.2018 - verze 2.31 - typy pro "dvojkové" služby; 
 13.1.2021 - verze 2.32 - přidány typy schránek PFO_ZNALEC a PFO_TLUMOCNIK
 29.7.2021 - verze 2.33 - sjednocení verzí
 25.4.2022 - verze 2.35 - sjednocení verzí
 15.6.2022 - verze 3.02 - přidán enum VoDZ na vstupu PDZSendInfo
                        - nový typ schránky PFO_REQ (50) 
                        - typy pro novu službu GetConstants  
 31.10.2022 - verze 3.03 - sjednocení verzí, drobné opravy    
 12.09.2023 - verze 3.04 - nové typy schránek PFO_ARCH, PFO_AIAT a PFO_AZI
 13.05.2024 - verze 3.06 - v DataBoxCreditInfoResponse v ciEventType přibyl event č. 7 (obnovení z trezorového koše) a nová větev pro choice element 
                         - nová služba GetDataBoxAddress      
 29.07.2025 - verze 3.09 - sjednocení verzí 

**************************************************************************** -->
<xs:schema xmlns:tns="http://isds.czechpoint.cz/v20" elementFormDefault="qualified" targetNamespace="http://isds.czechpoint.cz/v20" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tIdDb">
        <xs:annotation>
            <xs:documentation>ID datové schránky</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="7" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tUserID">
        <xs:annotation>
            <xs:documentation>ID uživatele</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="6" />
            <xs:maxLength value="12" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tIsdsID">
        <xs:annotation>
            <xs:documentation>IsdsID uživatele - přežije vydání nových přístupových údajů</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="12" />
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="gDbIdInupt">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" />
        </xs:sequence>
    </xs:group>
    <xs:group name="gDbIdInuptAttrs">
        <xs:sequence>
            <xs:element name="dbID">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="tns:tIdDb">
                            <xs:attributeGroup ref="tns:agCzPInfo" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="gDbIdDuInpup">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" />
            <xs:element name="isdsID" type="tns:tIsdsID" />
        </xs:sequence>
    </xs:group>
    <xs:group name="gDbIDDuInpupAttrs">
        <xs:sequence>
            <xs:element name="dbID">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="tns:tIdDb">
                            <xs:attributeGroup ref="tns:agCzPInfo" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="isdsID" type="tns:tIsdsID" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="tIdDBInput">
        <xs:annotation>
            <xs:documentation>vstupní parametry u služeb pro správu schránek</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tIdDBDUInput">
        <xs:annotation>
            <xs:documentation>vstupní parametry u služeb pro správu uživatelů schránek</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tIdDBInputAttrs">
        <xs:annotation>
            <xs:documentation>vstupní parametry u služeb pro správu schránek s atributy pro CzP</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dbID">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="tns:tIdDb">
                            <xs:attributeGroup ref="tns:agCzPInfo" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tIdDBDUInputAttrs2">
        <xs:annotation>
            <xs:documentation>vstupní parametry u služeb pro správu uživatelů schránek s atributy pro CzP</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dbID">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="tns:tIdDb">
                            <xs:attributeGroup ref="tns:agCzPInfo" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tReqStatusOutput">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation />
            </xs:annotation>
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="tDbType">
        <xs:annotation>
            <xs:documentation>typ DS podle zákona - výčet FO, PO, FPO a OVM. Některé mají podtypy, např. PFO_ADVOK aj.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FO" />
            <xs:enumeration value="PFO" />
            <xs:enumeration value="PFO_REQ" />
            <xs:enumeration value="PFO_ADVOK" />
            <xs:enumeration value="PFO_DANPOR" />
            <xs:enumeration value="PFO_INSSPR" />
            <xs:enumeration value="PFO_AUDITOR" />
            <xs:enumeration value="PFO_ZNALEC" />
            <xs:enumeration value="PFO_TLUMOCNIK" />
            <xs:enumeration value="PFO_ARCH" />
            <xs:enumeration value="PFO_AIAT" />
            <xs:enumeration value="PFO_AZI" />
            <xs:enumeration value="PO" />
            <xs:enumeration value="PO_ZAK" />
            <xs:enumeration value="PO_REQ" />
            <xs:enumeration value="OVM" />
            <xs:enumeration value="OVM_NOTAR" />
            <xs:enumeration value="OVM_EXEKUT" />
            <xs:enumeration value="OVM_REQ" />
            <xs:enumeration value="OVM_FO" />
            <xs:enumeration value="OVM_PFO" />
            <xs:enumeration value="OVM_PO" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tIdentificationNumber">
        <xs:annotation>
            <xs:documentation>IČO subjektu, kontrola formátu se provádí aplikačně, kvůli cizím subjektům</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="tUserType">
        <xs:annotation>
            <xs:documentation>typ uživatele DZ - výčet</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIMARY_USER" />
            <xs:enumeration value="ENTRUSTED_USER" />
            <xs:enumeration value="ADMINISTRATOR" />
            <xs:enumeration value="OFFICIAL" />
            <xs:enumeration value="OFFICIAL_CERT" />
            <xs:enumeration value="LIQUIDATOR" />
            <xs:enumeration value="RECEIVER" />
            <xs:enumeration value="GUARDIAN" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tDbAccessDataId">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:group name="gDbReqStatus">
        <xs:sequence>
            <xs:element name="dbStatusCode" type="xs:string" />
            <xs:element name="dbStatusMessage" type="xs:string" />
            <xs:element name="dbStatusRefNumber" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>nepovinné referenční číslo žádosti</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="tDbReqStatus">
        <xs:annotation>
            <xs:documentation>návratový typ WS</xs:documentation>
        </xs:annotation>
        <xs:group ref="tns:gDbReqStatus" />
    </xs:complexType>
    <xs:element name="dbStatus" type="tns:tDbReqStatus" />
    <xs:group name="gBirthInfo">
        <xs:annotation>
            <xs:documentation>skupina elementů pro datum a místo narození</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="biDate" type="xs:date" nillable="true" />
            <xs:element name="biCity" type="xs:string" nillable="true" />
            <xs:element name="biCounty" type="xs:string" nillable="true" />
            <xs:element name="biState" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:group>
    <xs:group name="gPersonName">
        <xs:annotation>
            <xs:documentation>skupina elementů pro jméno</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="pnFirstName" type="xs:string" nillable="true" />
            <xs:element name="pnMiddleName" type="xs:string" nillable="true" />
            <xs:element name="pnLastName" type="xs:string" nillable="true" />
            <xs:element name="pnLastNameAtBirth" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:group>
    <xs:group name="gPersonName2">
        <xs:annotation>
            <xs:documentation>skupina elementů pro jméno (2018)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="pnGivenNames" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Všechna křestní jména v jednom elementu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pnLastName" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Příjmení</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="gAddress">
        <xs:annotation>
            <xs:documentation>skupina elementů pro adresu</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="adCity" type="xs:string" nillable="true" />
            <xs:element name="adStreet" type="xs:string" nillable="true" />
            <xs:element name="adNumberInStreet" type="xs:string" nillable="true" />
            <xs:element name="adNumberInMunicipality" type="xs:string" nillable="true" />
            <xs:element name="adZipCode" type="xs:string" nillable="true" />
            <xs:element name="adState" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:group>
    <xs:group name="gAddressExt">
        <xs:annotation>
            <xs:documentation>skupina elementů pro adresu (kod adresního místa a část obce, nefinální podoba)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="adCity" type="xs:string" nillable="true" />
            <xs:element name="adDistrict" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="adStreet" type="xs:string" nillable="true" />
            <xs:element name="adNumberInStreet" type="xs:string" nillable="true" />
            <xs:element name="adNumberInMunicipality" type="xs:string" nillable="true" />
            <xs:element name="adZipCode" type="xs:string" nillable="true" />
            <xs:element name="adState" type="xs:string" nillable="true" />
            <xs:element name="adAMCode" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
        </xs:sequence>
    </xs:group>
    <xs:group name="gAddressExt2">
        <xs:annotation>
            <xs:documentation>skupina elementů pro adresu verze 3 (2018)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="adCode" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>kód adresního místa z RUIAN</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="adCity" type="xs:string" nillable="true" />
            <xs:element name="adDistrict" type="xs:string" nillable="true" />
            <xs:element name="adStreet" type="xs:string" nillable="true" />
            <xs:element name="adNumberInStreet" type="xs:string" nillable="true" />
            <xs:element name="adNumberInMunicipality" type="xs:string" nillable="true" />
            <xs:element name="adZipCode" type="xs:string" nillable="true" />
            <xs:element name="adState" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:group>
    <xs:group name="gExtApproval">
        <xs:sequence>
            <xs:element name="dbApproved" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>příznak, že žádost byla schválena mimo ISDS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbExternRefNumber" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>číslo jedn. externího schválení, bude uloženo v ISDS</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="agCzPInfo">
        <xs:attribute name="guid" type="xs:string">
            <xs:annotation>
                <xs:documentation>identifikace úředníka CzP</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="subject" type="xs:string">
            <xs:annotation>
                <xs:documentation>název subjektu CzP</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="branch" type="xs:string">
            <xs:annotation>
                <xs:documentation>název pracoviště CzP</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:complexType name="tDbUserInfo">
        <xs:annotation>
            <xs:documentation>typ pro veškeré informace o uživateli schránky a</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="tns:gPersonName" />
            <xs:group ref="tns:gAddress" />
            <xs:element name="biDate" type="xs:date" nillable="true" />
            <xs:element name="userID" type="tns:tUserID" nillable="true" />
            <xs:element name="userType" type="tns:tUserType" nillable="true" />
            <xs:element name="userPrivils" type="xs:long" nillable="true" />
            <xs:element name="ic" nillable="true">
                <xs:annotation>
                    <xs:documentation>IČ firmy vystupující jako statutár jiné PO (data z OR)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firmName" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>jméno firmy vystupující jako statutár jiné PO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caStreet" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - ulice a čísla v jednom řetězci</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caCity" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - město </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caZipCode" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - PSČ nebo ZIP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caState" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - stát zkratkou, není-li uveden, pak CZ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbUserInfoExt">
        <xs:annotation>
            <xs:documentation>typ pro veškeré informace o uživateli schránky verze 1</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="tns:gPersonName" />
            <xs:group ref="tns:gAddressExt" />
            <xs:element name="biDate" type="xs:date" nillable="true" />
            <xs:element name="userID" type="tns:tUserID" nillable="true" />
            <xs:element name="userType" type="tns:tUserType" nillable="true" />
            <xs:element name="userPrivils" type="xs:long" nillable="true" />
            <xs:element name="ic" nillable="true">
                <xs:annotation>
                    <xs:documentation>IČ firmy vystupující jako statutár jiné PO </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firmName" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>jméno firmy vystupující jako statutár jiné PO </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caStreet" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - ulice a čísla v jednom řetězci</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caCity" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - město </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caZipCode" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - PSČ nebo ZIP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caState" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - stát zkratkou, není-li uveden, pak CZ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbUserInfoExt2">
        <xs:annotation>
            <xs:documentation>typ pro veškeré informace o uživateli schránky verze 3 (2018)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="aifoIsds" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>příznak, je-li uživatel ztotožněn s ROB (má-li AIFO)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:gPersonName2" />
            <xs:group ref="tns:gAddressExt2" />
            <xs:element name="biDate" type="xs:date" nillable="true" />
            <xs:element name="isdsID" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>IsdsID je bezvýznamový identifikátor, unikátnéí pro každého uživatele. Nezmění se vydáním nových přístupových údajů.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userType" type="tns:tUserType" nillable="true">
                <xs:annotation>
                    <xs:documentation>Typ (role) schránkového uživatele</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userPrivils" type="xs:long" nillable="true">
                <xs:annotation>
                    <xs:documentation>přidělená schránková oprávnění - součet jednotlivých bitů</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ic" nillable="true">
                <xs:annotation>
                    <xs:documentation>IČ společnosti, která vystupuje jako statutární zástupce a v níž je tento uživatel fyzickým statutárním zástupcem</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firmName" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>jméno společnosti, která vystupuje jako statutární zástupce a v níž je tento uživatel fyzickým statutárním zástupcem</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caStreet" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - ulice a čísla v jednom řetězci</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caCity" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - město </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caZipCode" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - PSČ nebo ZIP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="caState" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kontaktní adresa - stát zkratkou, není-li uveden, pak CZ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbOwnerInfo">
        <xs:annotation>
            <xs:documentation>typ pro veškeré informace o DS, pro některé typy budou některé elementy nevyplněné</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" nillable="true" />
            <xs:element name="dbType" type="tns:tDbType" nillable="true" />
            <xs:element name="ic" type="tns:tIdentificationNumber" nillable="true" />
            <xs:group ref="tns:gPersonName" />
            <xs:element name="firmName" type="xs:string" nillable="true" />
            <xs:group ref="tns:gBirthInfo" />
            <xs:group ref="tns:gAddress" />
            <xs:element name="nationality" type="xs:string" nillable="true" />
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="telNumber" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="identifier" nillable="true">
                <xs:annotation>
                    <xs:documentation>pro schránky OVM je zde Identifikátor OVM z Rejstříku OVM (ISZR), pro jiné typy schránek různé interní údaje, které nemají pro běžného uživatele význam.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="registryCode" nillable="true">
                <xs:annotation>
                    <xs:documentation>kód externího registru PFO</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="5" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dbState" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Stav DS (pouze stav=1 znamená aktivní schránka)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbEffectiveOVM" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>příznak dle §5a, zrušeno od července 2017</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbOpenAddressing" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>příznak, že ne-OVM DS má aktivováno otevřené adresování §18a</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbOwnerInfoExt">
        <xs:annotation>
            <xs:documentation>typ pro veškeré informace o DS, pro některé typy budou některé elementy nevyplněné</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" nillable="true" />
            <xs:element name="dbType" type="tns:tDbType" nillable="true" />
            <xs:element name="ic" type="tns:tIdentificationNumber" nillable="true" />
            <xs:group ref="tns:gPersonName" />
            <xs:element name="firmName" type="xs:string" nillable="true" />
            <xs:group ref="tns:gBirthInfo" />
            <xs:group ref="tns:gAddressExt" />
            <xs:element name="nationality" type="xs:string" nillable="true" />
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="telNumber" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="identifier" type="xs:string" nillable="true" />
            <xs:element name="registryCode" type="xs:string" nillable="true" />
            <xs:element name="dbState" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Stav DS (pouze stav=1 znamená aktivní schránka)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbEffectiveOVM" type="xs:boolean" nillable="true" />
            <xs:element name="dbOpenAddressing" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>příznak, že ne-OVM DS má aktivováno otevřené adresování §18a</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbOwnerInfoExt2">
        <xs:annotation>
            <xs:documentation>typ pro veškeré informace o DS, pro některé typy budou některé elementy nevyplněné</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" nillable="true" />
            <xs:element name="aifoIsds" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Pro FO, PFO a profesní schránky je zde příznak ztotožnění s ROB, jinak nil</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbType" type="tns:tDbType" nillable="true" />
            <xs:element name="ic" type="tns:tIdentificationNumber" nillable="true" />
            <xs:group ref="tns:gPersonName2" />
            <xs:element name="firmName" type="xs:string" nillable="true" />
            <xs:group ref="tns:gBirthInfo" />
            <xs:group ref="tns:gAddressExt2" />
            <xs:element name="nationality" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>národnost; stát registrace u PO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbIdOVM" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Identifikátor OVM z Rejstříku OVM</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbState" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Stav DS (pouze stav=1 znamená aktivní schránka)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbOpenAddressing" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>příznak, že ne-OVM DS má aktivováno otevřené adresování §18a</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbUpperID" type="tns:tIdDb" nillable="true">
                <xs:annotation>
                    <xs:documentation>ID nadřízené OVM schránky</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbOwnersArray">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfoExt" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbOwnersArray2">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfoExt2" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbUsersArray">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dbUserInfo">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tDbUserInfoExt">
                            <xs:attribute name="AIFOTicket" type="xs:string" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDbUsersArray2">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dbUserInfo">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tDbUserInfoExt2">
                            <xs:attribute name="AIFOTicket" type="xs:string" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tFindDBInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FindDataBox" type="tns:tFindDBInput" />
    <xs:complexType name="tFindDBOuput">
        <xs:sequence>
            <xs:element name="dbResults" type="tns:tDbOwnersArray" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FindDataBoxResponse" type="tns:tFindDBOuput" />
    <xs:complexType name="tFindDBInput2">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfoExt2" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FindDataBox2" type="tns:tFindDBInput2" />
    <xs:complexType name="tFindDBOuput2">
        <xs:sequence>
            <xs:element name="dbResults" type="tns:tDbOwnersArray2" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FindDataBox2Response" type="tns:tFindDBOuput2" />
    <xs:complexType name="tCreateDBInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tDbOwnerInfoExt">
                            <xs:attribute name="guid" type="xs:string" />
                            <xs:attribute name="formdataid" type="xs:string" />
                            <xs:attribute name="identityDocumentNum" type="xs:string" />
                            <xs:attribute name="identityDocumentType" type="xs:string" />
                            <xs:attribute name="PDZ">
                                <xs:annotation>
                                    <xs:documentation>PDZ=1 - zapne se příjem PDZ</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="1" />
                                        <xs:minLength value="1" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dbPrimaryUsers" type="tns:tDbUsersArray" />
            <xs:element name="dbFormerNames" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbUpperDBId" type="tns:tIdDb" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbCEOLabel" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbVirtual" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Příznak pro použití Virtuální obálky - pouze pro CzP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>V případě použití virtuální obálky se zde zapíše email, na nějž má přijít odkaz na Aktivační portál</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateDataBox" type="tns:tCreateDBInput" />
    <xs:complexType name="tCreateDBOutput">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>ID nové DS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbUserID" type="tns:tUserID" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>pouze pro Czech POINT</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbAccessDataId" type="tns:tDbAccessDataId" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>pouze pro Czech POINT</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateDataBoxResponse" type="tns:tCreateDBOutput" />
    <xs:complexType name="tCreateDBInput2">
        <xs:sequence>
            <xs:element name="dbOwnerInfo">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tDbOwnerInfoExt2">
                            <xs:attributeGroup ref="tns:agCzPInfo" />
                            <xs:attribute name="formdataid" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>identifikace formuláře CzP</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="identityDocumentNum" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>číslo dokladu na CzP</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="identityDocumentType" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>typ dokladu na CzP</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="PDZ">
                                <xs:annotation>
                                    <xs:documentation>PDZ=1 - zapne se příjem PDZ</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="1" />
                                        <xs:minLength value="1" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="pnLastNameAtBirth" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Nepovinné rodné příjmení, stále je uvedeno v ZEU jako povinný vstupní údaj pro zřízení DS typu FO a PFO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="notifEmail" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>U schránek s jediným primárním uživatelem zde může být uvedena mailová adresa pro notifikace</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbPrimaryUsers" type="tns:tDbUsersArray2" />
            <xs:element name="dbVirtual" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Příznak pro použití Virtuální obálky - pouze pro CzP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>V případě použití virtuální obálky se zde zapíše email, na nějž má přijít odkaz na Aktivační portál</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateDataBox2" type="tns:tCreateDBInput2" />
    <xs:complexType name="tCreateDBOutput2">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>ID nové DS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbUserID" type="tns:tUserID" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>pouze pro Czech POINT</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbAccessDataId" type="tns:tDbAccessDataId" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>pouze pro Czech POINT</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateDataBox2Response" type="tns:tCreateDBOutput2" />
    <xs:complexType name="tDeleteDBInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo" />
            <xs:element name="dbOwnerTerminationDate" type="xs:date" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeleteDataBox" type="tns:tDeleteDBInput" />
    <xs:element name="DeleteDataBoxResponse" type="tns:tReqStatusOutput" />
    <xs:complexType name="tDeleteDBInput2">
        <xs:sequence>
            <xs:group ref="tns:gDbIdInupt" />
            <xs:element name="dbOwnerTerminationDate" type="xs:date" nillable="true" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeleteDataBox2" type="tns:tDeleteDBInput2" />
    <xs:element name="DeleteDataBox2Response" type="tns:tReqStatusOutput" />
    <xs:complexType name="tUpdateDBInput2">
        <xs:sequence>
            <xs:group ref="tns:gDbIdInuptAttrs" />
            <xs:element name="dbNewOwnerInfo" type="tns:tDbOwnerInfoExt2" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UpdateDataBoxDescr2" type="tns:tUpdateDBInput2" />
    <xs:element name="UpdateDataBoxDescr2Response" type="tns:tReqStatusOutput" />
    <xs:complexType name="tUpdateDBInput">
        <xs:sequence>
            <xs:element name="dbOldOwnerInfo" type="tns:tDbOwnerInfoExt" />
            <xs:element name="dbNewOwnerInfo" type="tns:tDbOwnerInfoExt" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UpdateDataBoxDescr" type="tns:tUpdateDBInput" />
    <xs:element name="UpdateDataBoxDescrResponse" type="tns:tReqStatusOutput" />
    <xs:complexType name="tAddDBUserInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfoExt" />
            <xs:element name="dbUserInfo">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tDbUserInfoExt">
                            <xs:attribute name="AIFOTicket" type="xs:string" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dbVirtual" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>true, pokud se přístupové údaje (pouze pro interní uživatele) nemají posílat, ale má se použít virtuální obálka</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>V případě použití virtuální obálky se zde zapíše email, na nějž má přijít odkaz na Aktivační portál</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AddDataBoxUser" type="tns:tAddDBUserInput" />
    <xs:complexType name="tAddDBUserOutput">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>ID nové DS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbAccessDataId" type="tns:tDbAccessDataId" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AddDataBoxUserResponse" type="tns:tAddDBUserOutput" />
    <xs:complexType name="tAddDBUserInput2">
        <xs:sequence>
            <xs:group ref="tns:gDbIdInuptAttrs" />
            <xs:element name="dbUserInfo">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:tDbUserInfoExt2">
                            <xs:attribute name="AIFOTicket" type="xs:string" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dbVirtual" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>true, pokud se přístupové údaje (pouze pro interní uživatele) nemají posílat, ale má se použít virtuální obálka</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>V případě použití virtuální obálky se zde zapíše email, na nějž má přijít odkaz na Aktivační portál</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AddDataBoxUser2" type="tns:tAddDBUserInput2" />
    <xs:complexType name="tAddDBUserOutput2">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>ID nové DS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbAccessDataId" type="tns:tDbAccessDataId" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AddDataBoxUser2Response" type="tns:tAddDBUserOutput2" />
    <xs:complexType name="tDelDBUserInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo" />
            <xs:element name="dbUserInfo" type="tns:tDbUserInfo" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeleteDataBoxUser" type="tns:tDelDBUserInput" />
    <xs:element name="DeleteDataBoxUserResponse" type="tns:tReqStatusOutput" />
    <xs:complexType name="tDelDBUserInput2">
        <xs:sequence>
            <xs:group ref="tns:gDbIDDuInpupAttrs" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeleteDataBoxUser2" type="tns:tDelDBUserInput2" />
    <xs:element name="DeleteDataBoxUser2Response" type="tns:tReqStatusOutput" />
    <xs:complexType name="tUpdDBUserInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfoExt" />
            <xs:element name="dbOldUserInfo" type="tns:tDbUserInfoExt" />
            <xs:element name="dbNewUserInfo" type="tns:tDbUserInfoExt" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UpdateDataBoxUser" type="tns:tUpdDBUserInput" />
    <xs:element name="UpdateDataBoxUserResponse" type="tns:tReqStatusOutput" />
    <xs:complexType name="tUpdDBUserInput2">
        <xs:sequence>
            <xs:group ref="tns:gDbIDDuInpupAttrs" />
            <xs:element name="dbNewUserInfo" type="tns:tDbUserInfoExt2" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UpdateDataBoxUser2" type="tns:tUpdDBUserInput2" />
    <xs:element name="UpdateDataBoxUser2Response" type="tns:tReqStatusOutput" />
    <xs:complexType name="tNewAccDataInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo" />
            <xs:element name="dbUserInfo" type="tns:tDbUserInfo" />
            <xs:element name="dbFeePaid" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>true, pokud je zaplacen správní poplatek</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbVirtual" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>true, pokud se přístupové údaje nemají posílat, ale má se použít virtuální obálku</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>V případě použití virtuální obálky se zde zapíše email, na nějž má přijít odkaz na Aktivační portál</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NewAccessData" type="tns:tNewAccDataInput" />
    <xs:complexType name="tNewAccDataOutput">
        <xs:sequence>
            <xs:element name="dbUserID" type="tns:tUserID" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbAccessDataId" type="tns:tDbAccessDataId" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NewAccessDataResponse" type="tns:tNewAccDataOutput" />
    <xs:complexType name="tNewAccDataInput2">
        <xs:sequence>
            <xs:group ref="tns:gDbIDDuInpupAttrs" />
            <xs:element name="dbFeePaid" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>true, pokud je zaplacen správní poplatek</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbVirtual" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>true, pokud se přístupové údaje nemají posílat, ale má se použít virtuální obálku</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>V případě použití virtuální obálky se zde zapíše email, na nějž má přijít odkaz na Aktivační portál</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NewAccessData2" type="tns:tNewAccDataInput2" />
    <xs:complexType name="tNewAccDataOutput2">
        <xs:sequence>
            <xs:element name="dbUserID" type="tns:tUserID" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbAccessDataId" type="tns:tDbAccessDataId" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NewAccessData2Response" type="tns:tNewAccDataOutput2" />
    <xs:complexType name="tOwnerInfoInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tDisableExternallyInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo" />
            <xs:element name="dbOwnerDisableDate" type="xs:date" nillable="true" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DisableDataBoxExternally" type="tns:tDisableExternallyInput" />
    <xs:element name="DisableDataBoxExternallyResponse" type="tns:tReqStatusOutput" />
    <xs:complexType name="tDisableExternallyInput2">
        <xs:sequence>
            <xs:group ref="tns:gDbIdInuptAttrs" />
            <xs:element name="dbOwnerDisableDate" type="xs:date" nillable="true" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DisableDataBoxExternally2" type="tns:tDisableExternallyInput2" />
    <xs:element name="DisableDataBoxExternally2Response" type="tns:tReqStatusOutput" />
    <xs:element name="DisableOwnDataBox" type="tns:tOwnerInfoInput" />
    <xs:element name="DisableOwnDataBoxResponse" type="tns:tReqStatusOutput" />
    <xs:element name="DisableOwnDataBox2" type="tns:tIdDBInputAttrs" />
    <xs:element name="DisableOwnDataBox2Response" type="tns:tReqStatusOutput" />
    <xs:element name="EnableOwnDataBox" type="tns:tOwnerInfoInput" />
    <xs:element name="EnableOwnDataBoxResponse" type="tns:tReqStatusOutput" />
    <xs:element name="EnableOwnDataBox2" type="tns:tIdDBInputAttrs" />
    <xs:element name="EnableOwnDataBox2Response" type="tns:tReqStatusOutput" />
    <xs:element name="GetDataBoxUsers2" type="tns:tIdDBInput" />
    <xs:complexType name="tGetDBUsers2Output">
        <xs:sequence>
            <xs:element name="dbUsers" type="tns:tDbUsersArray2" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDataBoxUsers2Response" type="tns:tGetDBUsers2Output" />
    <xs:element name="CheckDataBox" type="tns:tIdDBInput" />
    <xs:complexType name="tCheckDBOutput">
        <xs:sequence>
            <xs:element name="dbState" type="xs:int" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CheckDataBoxResponse" type="tns:tCheckDBOutput" />
    <xs:element name="SetOpenAddressing" type="tns:tIdDBInputAttrs" />
    <xs:element name="SetOpenAddressingResponse" type="tns:tReqStatusOutput" />
    <xs:element name="ClearOpenAddressing" type="tns:tIdDBInputAttrs" />
    <xs:element name="ClearOpenAddressingResponse" type="tns:tReqStatusOutput" />
    <xs:complexType name="tDummyInput">
        <xs:sequence>
            <xs:element name="dbDummy" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetOwnerInfoFromLogin2" type="tns:tDummyInput" />
    <xs:element name="GetOwnerInfoFromLogin2Response" type="tns:tGetOwnInfoOutput2" />
    <xs:complexType name="tGetOwnInfoOutput2">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfoExt2" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetUserInfoFromLogin2" type="tns:tDummyInput" />
    <xs:element name="GetUserInfoFromLogin2Response" type="tns:tGetUserInfoOutput2" />
    <xs:complexType name="tGetUserInfoOutput2">
        <xs:sequence>
            <xs:element name="dbUserInfo" type="tns:tDbUserInfoExt2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>informace o uživateli</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetOwnerInfoFromLogin" type="tns:tDummyInput" />
    <xs:element name="GetOwnerInfoFromLoginResponse" type="tns:tGetOwnInfoOutput" />
    <xs:complexType name="tGetOwnInfoOutput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tDbOwnerInfo" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetUserInfoFromLogin" type="tns:tDummyInput" />
    <xs:element name="GetUserInfoFromLoginResponse" type="tns:tGetUserInfoOutput" />
    <xs:complexType name="tGetUserInfoOutput">
        <xs:sequence>
            <xs:element name="dbUserInfo" type="tns:tDbUserInfo" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>informace o uživateli</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetPasswordInfo" type="tns:tDummyInput" />
    <xs:element name="GetPasswordInfoResponse" type="tns:tGetPasswInfoOutput" />
    <xs:complexType name="tGetPasswInfoOutput">
        <xs:sequence>
            <xs:element name="pswExpDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>datum a čas exiprace hesla</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ChangeISDSPassword" type="tns:tChngPasswInput" />
    <xs:complexType name="tChngPasswInput">
        <xs:sequence>
            <xs:element name="dbOldPassword" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>původní heslo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbNewPassword" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>nové heslo</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ChangeISDSPasswordResponse" type="tns:tReqStatusOutput" />
    <xs:element name="GetDataBoxList" type="tns:tGetDBListInput" />
    <xs:complexType name="tGetDBListInput">
        <xs:sequence>
            <xs:element name="dblType" type="xs:string" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>typ souboru s daty</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDataBoxListResponse" type="tns:tGetDBListOutput" />
    <xs:complexType name="tGetDBListOutput">
        <xs:sequence>
            <xs:element name="dblData" type="xs:base64Binary" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeleteDataBoxPromptly" type="tns:tDeleteDBPromptlyInput" />
    <xs:complexType name="tDeleteDBPromptlyInput">
        <xs:sequence>
            <xs:group ref="tns:gDbIdInupt" />
            <xs:group ref="tns:gExtApproval" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeleteDataBoxPromptlyResponse" type="tns:tReqStatusOutput" />
    <xs:complexType name="tPDZInfoInput">
        <xs:sequence>
            <xs:element name="PDZSender" type="tns:tIdDb" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PDZInfo" type="tns:tPDZInfoInput" />
    <xs:complexType name="tPDZRec">
        <xs:sequence>
            <xs:element name="PDZType" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Typ PDZ: K - smluvní PDZ, O - odpovědní PDZ, G - globálně dotovaná, E - PDZ z kreditu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PDZRecip" type="tns:tIdDb" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Komu je možno poslat PDZ, nil = všichni adresáti</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PDZPayer" type="tns:tIdDb" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Kdo platí za PDZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PDZExpire" type="xs:dateTime" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kdy vyprší platnost, nil = neomezené</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PDZCnt" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Počet zpráv daného typu, nil = neomezené</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ODZIdent" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Pouze u ODZ - identifikátor zadaný iniciátorem ODZ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tPDZRecArray">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dbPDZRecord" type="tns:tPDZRec" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tPDZInfoOutput">
        <xs:sequence>
            <xs:element name="dbPDZRecords" type="tns:tPDZRecArray" minOccurs="0" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PDZInfoResponse" type="tns:tPDZInfoOutput" />
    <xs:element name="ChangeBoxesType" type="tns:tChangeDBsTypeInput" />
    <xs:complexType name="tChangeDBsTypeInput">
        <xs:sequence>
            <xs:element name="refNumber" type="xs:string" />
            <xs:element name="newDBType" type="xs:string" />
            <xs:element name="IDsFile" type="xs:base64Binary" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ChangeBoxesTypeResponse" type="tns:tChangeDBsTypeOutput" />
    <xs:complexType name="tChangeDBsTypeOutput">
        <xs:sequence>
            <xs:element name="changeLogFile" type="xs:base64Binary" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tChangeLogRow">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="changeLogRow" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DataBoxCreditInfo" type="tns:tDBCreditInfoInput" />
    <xs:complexType name="tDBCreditInfoInput">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" />
            <xs:element name="ciFromDate" type="xs:date" nillable="true" />
            <xs:element name="ciTodate" type="xs:date" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DataBoxCreditInfoResponse" type="tns:tDBCreditInfoOutput" />
    <xs:complexType name="tDBCreditInfoOutput">
        <xs:sequence>
            <xs:element name="currentCredit" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="notifEmail" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="ciRecords" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ciRecord" type="tns:tCiRecord" minOccurs="0" maxOccurs="unbounded" nillable="true" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tCiRecord">
        <xs:group ref="tns:gCiRecord" />
    </xs:complexType>
    <xs:group name="gCiRecord">
        <xs:sequence>
            <xs:element name="ciEventTime" type="xs:dateTime" />
            <xs:element name="ciEventType" type="xs:integer" />
            <xs:element name="ciCreditChange" type="xs:integer" />
            <xs:element name="ciCreditAfter" type="xs:integer" />
            <xs:choice>
                <xs:element name="ciTransID" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>pro eventType=1 a 2</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:sequence>
                    <xs:annotation>
                        <xs:documentation>pro eventType=3</xs:documentation>
                    </xs:annotation>
                    <xs:element name="ciRecipientID" type="tns:tIdDb" />
                    <xs:element name="ciPDZID" type="xs:string" />
                </xs:sequence>
                <xs:sequence>
                    <xs:annotation>
                        <xs:documentation>pro eventType=4</xs:documentation>
                    </xs:annotation>
                    <xs:element name="ciNewCapacity" type="xs:integer" />
                    <xs:element name="ciNewFrom" type="xs:date" />
                    <xs:element name="ciNewTo" type="xs:date" />
                    <xs:element name="ciOldCapacity" type="xs:integer" nillable="true" />
                    <xs:element name="ciOldFrom" type="xs:date" nillable="true" />
                    <xs:element name="ciOldTo" type="xs:date" nillable="true" />
                    <xs:element name="ciDoneBy" type="xs:string" nillable="true" />
                </xs:sequence>
                <xs:element name="ciDoneBy" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>pro eventType=7</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:element name="ISDSSearch2" type="tns:tISDSSearchInput" />
    <xs:complexType name="tISDSSearchInput">
        <xs:sequence>
            <xs:element name="searchText" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="searchType" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="GENERAL" />
                        <xs:enumeration value="ADDRESS" />
                        <xs:enumeration value="ICO" />
                        <xs:enumeration value="DBID" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="searchScope" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ALL" />
                        <xs:enumeration value="OVM" />
                        <xs:enumeration value="OVM_MAIN" />
                        <xs:enumeration value="OVM_REQ" />
                        <xs:enumeration value="OVM_NOTAR" />
                        <xs:enumeration value="OVM_EXEKUT" />
                        <xs:enumeration value="OVM_FO" />
                        <xs:enumeration value="OVM_PFO" />
                        <xs:enumeration value="OVM_PO" />
                        <xs:enumeration value="PO" />
                        <xs:enumeration value="PO_ZAK" />
                        <xs:enumeration value="PO_REQ" />
                        <xs:enumeration value="PFO" />
                        <xs:enumeration value="PFO_REQ" />
                        <xs:enumeration value="PFO_ADVOK" />
                        <xs:enumeration value="PFO_INSSPR" />
                        <xs:enumeration value="PFO_DANPOR" />
                        <xs:enumeration value="PFO_AUDITOR" />
                        <xs:enumeration value="PFO_ZNALEC" />
                        <xs:enumeration value="PFO_TLUMOCNIK" />
                        <xs:enumeration value="FO" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="page" type="xs:integer" minOccurs="1" maxOccurs="1" nillable="true" />
            <xs:element name="pageSize" type="xs:integer" minOccurs="1" maxOccurs="1" nillable="true" />
            <xs:element name="highlighting" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ISDSSearch2Response" type="tns:tISDSSearchOutput" />
    <xs:complexType name="tISDSSearchOutput">
        <xs:sequence>
            <xs:element name="totalCount" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="currentCount" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="position" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="lastPage" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbResults" type="tns:tdbResultsArray" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tdbResult">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" />
            <xs:element name="dbType" type="tns:tDbType" />
            <xs:element name="dbName" type="xs:string" />
            <xs:element name="dbAddress" type="xs:string" />
            <xs:element name="dbBiDate" type="xs:date" nillable="true" />
            <xs:element name="dbICO" type="tns:tIdentificationNumber" nillable="true" />
            <xs:element name="dbEffectiveOVM" type="xs:boolean" />
            <xs:element name="dbSendOptions">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DZ" />
                        <xs:enumeration value="ALL" />
                        <xs:enumeration value="PDZ" />
                        <xs:enumeration value="NONE" />
                        <xs:enumeration value="DISABLED" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tdbResultsArray">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dbResult" type="tns:tdbResult" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ISDSSearch3" type="tns:tISDSSearchInput3" />
    <xs:complexType name="tISDSSearchInput3">
        <xs:sequence>
            <xs:element name="searchText" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="searchType" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="GENERAL" />
                        <xs:enumeration value="ADDRESS" />
                        <xs:enumeration value="ICO" />
                        <xs:enumeration value="IDOVM" />
                        <xs:enumeration value="DBID" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="searchScope" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ALL" />
                        <xs:enumeration value="OVM" />
                        <xs:enumeration value="OVM_MAIN" />
                        <xs:enumeration value="OVM_REQ" />
                        <xs:enumeration value="OVM_NOTAR" />
                        <xs:enumeration value="OVM_EXEKUT" />
                        <xs:enumeration value="OVM_FO" />
                        <xs:enumeration value="OVM_PFO" />
                        <xs:enumeration value="OVM_PO" />
                        <xs:enumeration value="PO" />
                        <xs:enumeration value="PO_ZAK" />
                        <xs:enumeration value="PO_REQ" />
                        <xs:enumeration value="PFO" />
                        <xs:enumeration value="PFO_REQ" />
                        <xs:enumeration value="PFO_ADVOK" />
                        <xs:enumeration value="PFO_INSSPR" />
                        <xs:enumeration value="PFO_DANPOR" />
                        <xs:enumeration value="PFO_AUDITOR" />
                        <xs:enumeration value="PFO_ZNALEC" />
                        <xs:enumeration value="PFO_TLUMOCNIK" />
                        <xs:enumeration value="FO" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="page" type="xs:integer" minOccurs="1" maxOccurs="1" nillable="true" />
            <xs:element name="pageSize" type="xs:integer" minOccurs="1" maxOccurs="1" nillable="true" />
            <xs:element name="highlighting" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ISDSSearch3Response" type="tns:tISDSSearchOutput2" />
    <xs:complexType name="tISDSSearchOutput2">
        <xs:sequence>
            <xs:element name="totalCount" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="currentCount" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="position" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="lastPage" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbResults" type="tns:tdbResultsArray2" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tdbResult2">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" />
            <xs:element name="dbType" type="tns:tDbType" />
            <xs:element name="dbName" type="xs:string" />
            <xs:element name="dbAddress" type="xs:string" />
            <xs:element name="dbBiDate" type="xs:date" nillable="true" />
            <xs:element name="dbICO" type="tns:tIdentificationNumber" nillable="true" />
            <xs:element name="dbIdOVM" type="xs:string" nillable="true" />
            <xs:element name="dbSendOptions">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DZ" />
                        <xs:enumeration value="ALL" />
                        <xs:enumeration value="PDZ" />
                        <xs:enumeration value="NONE" />
                        <xs:enumeration value="DISABLED" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tdbResultsArray2">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dbResult" type="tns:tdbResult2" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDataBoxActivityStatus" type="tns:tGetDBStatusInput" />
    <xs:complexType name="tGetDBStatusInput">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" minOccurs="1" maxOccurs="1" nillable="true" />
            <xs:element name="baFrom" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
            <xs:element name="baTo" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDataBoxActivityStatusResponse" type="tns:tGetDBStatusOutput" />
    <xs:complexType name="tGetDBStatusOutput">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" minOccurs="0" maxOccurs="1" />
            <xs:element name="Periods" type="tns:tdbPeriodsArray" minOccurs="0" maxOccurs="1" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tdbPeriodsArray">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Period" type="tns:tdbPeriod" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tdbPeriod">
        <xs:sequence>
            <xs:element name="PeriodFrom" type="xs:dateTime" />
            <xs:element name="PeriodTo" type="xs:dateTime" />
            <xs:element name="DbState" type="xs:nonNegativeInteger" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FindPersonalDataBox" type="tns:tFindPersonalDBInput" />
    <xs:complexType name="tFindPersonalDBInput">
        <xs:sequence>
            <xs:element name="dbOwnerInfo" type="tns:tdbPersonalOwnerInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tdbPersonalOwnerInfo">
        <xs:sequence>
            <xs:element name="dbID" type="tns:tIdDb" nillable="true" />
            <xs:element name="aifoIsds" type="xs:boolean" nillable="true" />
            <xs:element name="pnFirstName" type="xs:string" nillable="true" />
            <xs:element name="pnMiddleName" type="xs:string" nillable="true" />
            <xs:element name="pnLastName" type="xs:string" nillable="true" />
            <xs:element name="biDate" type="xs:date" nillable="true" />
            <xs:element name="biCity" type="xs:string" nillable="true" />
            <xs:element name="biCounty" type="xs:string" nillable="true" />
            <xs:element name="biState" type="xs:string" nillable="true" />
            <xs:element name="adCode" type="xs:integer" nillable="true" />
            <xs:element name="adCity" type="xs:string" nillable="true" />
            <xs:element name="adDistrict" type="xs:string" nillable="true" />
            <xs:element name="adStreet" type="xs:string" nillable="true" />
            <xs:element name="adNumberInStreet" type="xs:string" nillable="true" />
            <xs:element name="adNumberInMunicipality" type="xs:string" nillable="true" />
            <xs:element name="adZipCode" type="xs:string" nillable="true" />
            <xs:element name="adState" type="xs:string" nillable="true" />
            <xs:element name="nationality" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FindPersonalDataBoxResponse" type="tns:tFindPersonalDBOutput" />
    <xs:complexType name="tFindPersonalDBOutput">
        <xs:sequence>
            <xs:element name="dbResults" type="tns:tdbPersOwnersArray" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tdbPersOwnersArray">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dbOwnerInfo" type="tns:tdbPersonalOwnerInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DTInfo" type="tns:tDTInfoInput" />
    <xs:complexType name="tDTInfoInput">
        <xs:sequence>
            <xs:element name="dbId" type="tns:tIdDb" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DTInfoResponse" type="tns:tDTInfoOutput" />
    <xs:complexType name="tDTInfoOutput">
        <xs:sequence>
            <xs:element name="ActDTType" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="ActDTCapacity" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="ActDTFrom" type="xs:date" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="ActDTTo" type="xs:date" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="ActDTCapUsed" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="FutDTType" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="FutDTCapacity" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="FutDTFrom" type="xs:date" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="FutDTTo" type="xs:date" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="FutDTPaid" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PDZSendInfo" type="tns:tPDZSendInput" />
    <xs:complexType name="tPDZSendInput">
        <xs:sequence>
            <xs:element name="dbId" type="tns:tIdDb" />
            <xs:element name="PDZType" minOccurs="1" maxOccurs="1" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Normal" />
                        <xs:enumeration value="Init" />
                        <xs:enumeration value="VoDZ" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PDZSendInfoResponse" type="tns:tPDZSendOutput" />
    <xs:complexType name="tPDZSendOutput">
        <xs:sequence>
            <xs:element name="PDZsiResult" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dbStatus" type="tns:tDbReqStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetConstants">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="constDate" type="xs:date" nillable="true" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetConstantsResponse" type="tns:tGetConstsOutput" />
    <xs:complexType name="tGetConstsOutput">
        <xs:sequence>
            <xs:element name="constRecords" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="constRecord" type="tns:tConstRecord" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dbStatus" type="tns:tDbReqStatus" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tConstRecord">
        <xs:sequence>
            <xs:element name="cName" type="xs:string" />
            <xs:element name="cValue" type="xs:string" />
            <xs:element name="cFrom" type="xs:date" />
            <xs:element name="cTo" type="xs:date" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDataBoxAddress">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dbID" type="tns:tIdDb" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDataBoxAddressResponse" type="tns:tGetAddressOutput" />
    <xs:complexType name="tGetAddressOutput">
        <xs:sequence>
            <xs:group ref="tns:gAddressExt2" />
            <xs:element name="adRegistrationNumber" type="xs:string" nillable="true" />
            <xs:element name="adFullAddress1" type="xs:string" nillable="true" />
            <xs:element name="adFullAddress2" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
