Resources/dm_info.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--  *********************************************************************

   verze: 3.09 
   klasifikace: Veřejný dokument    
 
     WSDL pro služby
        1. Ověření neporušení datové zprávy - VerifyMessage
        2. Stažení obálky přijaté zprávy v čitelné podobě - MessageEnvelopeDownload
        3. Označení přijaté zprávy jako Přečtené - MarkMessageAsDownloaded
        4. Oznámení o dodání, doručení, nedoručení datové zprávy (Dodejka, Doručenka, Nedoručenka) - GetDeliveryInfo
        5. Podepsané oznámení o dodání, doručení, nedoručení datové zprávy (Dodejka, Doručenka, Nedoručenka) - GetSignedDeliveryInfo
        6. Stažení seznamů odeslaných datových zpráv - GetListOfSentMessages
        7. Stažení seznamů přijatých datových zpráv - GetListOfReceivedMessages
        8. Doručení komerční datové zprávy - ConfirmDelivery - odstraněno ve verzi 2.33
        9. Seznam změněných zpráv - GetMessageStateChanges
        10. Informace o odesílateli zprávy - GetMessageAuthor a GetMessageAuthor2
        11. Informace o způsobu posílání PDZ - PDZInfo
        12. Smazání dlouhodbě uložené DZ (trezorové) - EraseMessage 
        13. Požadavek na stažení seznamu smazaných zpráv - GetListOfErasedMessages
        14. Vyzvednutí asynchronního požadavku - PickUpAsyncResponse
        15. Registrace externích notifikací - RegisterForNotifications
        16. Stažení záznamů pro notifikace - GetListForNotifications
        17. Stažení obálky odeslané zprávy - SentMessageEnvelopeDownload
        18. Oznámení spamu - SuspMessageReport
        
              
   Změny:  
     4.2.2009 verze 0.1
    20.3.2009 verze 1.0   - formální úpravy vyhovující WS-I Basic Profile   
     8.4.2009 verze 1.2   - změna názvů WSDL, rozložení operací mezi WSDL
     3.6.2009 verze 2.0   - novela                               
    1.11.2009 verze 2.6   - přidána WS ConfirmDelivery 
   11.10.2010 verze 2.10  - změna URL v důsledku přechodu na Basic autentizaci
                          - přidání WS GetMessageStateChanges
   10.11.2010 verze 2.11 - přidání WS GetMessageAuthor     
   25.8.2010  verze 2.14 - novela zákona
   12.4.2012  verze 2.16 - přidání WS EraseMessage      
   14.10.2015 verze 2.22 - sjednocení verzí
   21.11.2017 verze 2.27 - sjednocení verzí
   04.09.2018 verze 2.31 - sjednocení verzí
   29.07.2021 verze 2.33 - přidány WS GetListOfErasedMessages a PickUpAsyncResponse a RegisterForNotifications a GetListForNotifications
   24.11.2021 verze 3.0 (pro VT) - upravené XSD definice 
   25.04.2022 verze 2.35 - přidána WS GetMessageAuthor2
   25.04.2021 verze 3.01 (pro VT) - přidána WS GetMessageAuthor2
   31.10.2022 verze 3.03 - sjednocení verzí 
   20.10.2023 verze 3.04 - sjednocení verzí
   21.10.2024 verze 3.07 - přidána služba SentMessageEnvelopeDownload
   20.12.2024 verze 3.08 - přidána služba SuspMessageReport
   29.07.2025 verze 3.09 - sjednocení verzí 
                              
   
************************************************************************ -->

<definitions name="ISDS_dmMessCreate" targetNamespace="http://isds.czechpoint.cz/v20" 
                                  xmlns="http://schemas.xmlsoap.org/wsdl/" 
                                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                                  xmlns:tns="http://isds.czechpoint.cz/v20">
                                
  <types>
    <xs:schema targetNamespace="http://isds.czechpoint.cz/v20">
      <xs:include schemaLocation="dmBaseTypes.xsd" />
    </xs:schema>
  </types>
  
  <!-- ******************************************************************* -->

  <message name="MessageVerifyRequest">
    <part name="parameter" element="tns:VerifyMessage" />        
  </message>
  <message name="MessageVerifyResponse">
    <part name="parameter" element="tns:VerifyMessageResponse" />        
  </message>

  <message name="MessageEnvelopeDownloadRequest">
    <part name="parameter" element="tns:MessageEnvelopeDownload" />        
  </message>
  <message name="MessageEnvelopeDownloadResponse">
    <part name="parameter" element="tns:MessageEnvelopeDownloadResponse" />        
  </message>

  <message name="MarkMessageAsDownloadedRequest">
    <part name="parameter" element="tns:MarkMessageAsDownloaded" />        
  </message>
  <message name="MarkMessageAsDownloadedResponse">
    <part name="parameter" element="tns:MarkMessageAsDownloadedResponse" />        
  </message>

  <message name="DeliveryMessageRequest">
    <part name="parameter" element="tns:GetDeliveryInfo" />        
  </message>
  <message name="DeliveryMessageResponse">
    <part name="parameter" element="tns:GetDeliveryInfoResponse" />        
  </message>

  <message name="SignedDeliveryMessageRequest">
    <part name="parameter" element="tns:GetSignedDeliveryInfo" />        
  </message>
  <message name="SignedDeliveryMessageResponse">
    <part name="parameter" element="tns:GetSignedDeliveryInfoResponse" />        
  </message>

  <message name="ListOfSentMessagesRequest">
    <part name="parameter" element="tns:GetListOfSentMessages" />        
  </message>
  <message name="ListOfSentMessagesResponse">
    <part name="parameter" element="tns:GetListOfSentMessagesResponse" />        
  </message>

  <message name="ListOfReceivedMessagesRequest">
    <part name="parameter" element="tns:GetListOfReceivedMessages" />        
  </message>
  <message name="ListOfReceivedMessagesResponse">
    <part name="parameter" element="tns:GetListOfReceivedMessagesResponse" />        
  </message>

  <message name="GetMessageStateChangesRequest">
    <part name="parameter" element="tns:GetMessageStateChanges" />        
  </message>
  <message name="GetMessageStateChangesResponse">
    <part name="parameter" element="tns:GetMessageStateChangesResponse" />        
  </message>

  <message name="GetMessageAuthorRequest">
    <part name="parameter" element="tns:GetMessageAuthor" />        
  </message>
  <message name="GetMessageAuthorResponse">
    <part name="parameter" element="tns:GetMessageAuthorResponse" />        
  </message>

  <message name="GetMessageAuthor2Request">
    <part name="parameter" element="tns:GetMessageAuthor2" />        
  </message>
  <message name="GetMessageAuthor2Response">
    <part name="parameter" element="tns:GetMessageAuthor2Response" />        
  </message>

  <message name="EraseMessageRequest">
    <part name="parameter" element="tns:EraseMessage" />        
  </message>
  <message name="EraseMessageResponse">
    <part name="parameter" element="tns:EraseMessageResponse" />        
  </message>

  <message name="GetListOfErasedMessagesRequest">
    <part name="parameter" element="tns:GetListOfErasedMessages" />
  </message>
  <message name="GetListOfErasedMessagesResponse">
    <part name="parameter" element="tns:GetListOfErasedMessagesResponse" />
  </message>

  <message name="PickUpAsyncResponseRequest">
    <part name="parameter" element="tns:PickUpAsyncResponse" />
  </message>
  <message name="PickUpAsyncResponseResponse">
    <part name="parameter" element="tns:PickUpAsyncResponseResponse" />
  </message>

  <message name="GetListForNotificationsRequest">
    <part name="parameter" element="tns:GetListForNotifications" />
  </message>
  <message name="GetListForNotificationsResponse">
    <part name="parameter" element="tns:GetListForNotificationsResponse" />
  </message>

  <message name="RegisterForNotificationsRequest">
    <part name="parameter" element="tns:RegisterForNotifications" />
  </message>
  <message name="RegisterForNotificationsResponse">
    <part name="parameter" element="tns:RegisterForNotificationsResponse" />
  </message>

  <message name="SentMessageEnvelopeDownloadRequest">
    <part name="parameter" element="tns:SentMessageEnvelopeDownload" />
  </message>
  <message name="SentMessageEnvelopeDownloadResponse">
    <part name="parameter" element="tns:SentMessageEnvelopeDownloadResponse" />
  </message>

  <message name="SuspMessageReportRequest">
    <part name="parameter" element="tns:SuspMessageReport" />
  </message>
  <message name="SuspMessageReportResponse">
    <part name="parameter" element="tns:SuspMessageReportResponse" />
  </message>

    <!-- ******************************************************************* -->
  <portType name="dmInfoPortType">

    <operation name="VerifyMessage">
      <input message="tns:MessageVerifyRequest"/>
      <output message="tns:MessageVerifyResponse"/>
    </operation>

    <operation name="MessageEnvelopeDownload">
      <input  message="tns:MessageEnvelopeDownloadRequest"/>
      <output message="tns:MessageEnvelopeDownloadResponse"/>
    </operation>

    <operation name="MarkMessageAsDownloaded">
      <input  message="tns:MarkMessageAsDownloadedRequest"/>
      <output message="tns:MarkMessageAsDownloadedResponse"/>
    </operation>

    <operation name="GetDeliveryInfo">
      <input  message="tns:DeliveryMessageRequest"/>
      <output message="tns:DeliveryMessageResponse"/>
    </operation>

    <operation name="GetSignedDeliveryInfo">
      <input  message="tns:SignedDeliveryMessageRequest"/>
      <output  message="tns:SignedDeliveryMessageResponse"/>
    </operation>

    <operation name="GetListOfSentMessages">
      <input  message="tns:ListOfSentMessagesRequest"/>
      <output message="tns:ListOfSentMessagesResponse"/>
    </operation>

    <operation name="GetListOfReceivedMessages">
      <input  message="tns:ListOfReceivedMessagesRequest"/>
      <output message="tns:ListOfReceivedMessagesResponse"/>
    </operation>

     <operation name="GetMessageStateChanges">
      <input  message="tns:GetMessageStateChangesRequest"/>
      <output message="tns:GetMessageStateChangesResponse"/>
    </operation>

    <operation name="GetMessageAuthor">
      <input  message="tns:GetMessageAuthorRequest"/>
      <output message="tns:GetMessageAuthorResponse"/>
    </operation>

    <operation name="GetMessageAuthor2">
      <input  message="tns:GetMessageAuthor2Request"/>
      <output message="tns:GetMessageAuthor2Response"/>
    </operation>

     <operation name="EraseMessage">
      <input  message="tns:EraseMessageRequest"/>
      <output message="tns:EraseMessageResponse"/>
    </operation>

    <operation name="GetListOfErasedMessages">
        <input  message="tns:GetListOfErasedMessagesRequest"/>
        <output message="tns:GetListOfErasedMessagesResponse"/>
    </operation>

    <operation name="PickUpAsyncResponse">
        <input  message="tns:PickUpAsyncResponseRequest"/>
        <output message="tns:PickUpAsyncResponseResponse"/>
    </operation>

    <operation name="GetListForNotifications">
        <input  message="tns:GetListForNotificationsRequest"/>
        <output message="tns:GetListForNotificationsResponse"/>
    </operation>

    <operation name="RegisterForNotifications">
        <input  message="tns:RegisterForNotificationsRequest"/>
        <output message="tns:RegisterForNotificationsResponse"/>
    </operation>

    <operation name="SentMessageEnvelopeDownload">
        <input  message="tns:SentMessageEnvelopeDownloadRequest"/>
        <output message="tns:SentMessageEnvelopeDownloadResponse"/>
    </operation>

    <operation name="SuspMessageReport">
        <input  message="tns:SuspMessageReportRequest"/>
        <output message="tns:SuspMessageReportResponse"/>
    </operation>

  </portType>

  <!-- ******************************************************************* -->
 <binding name="dmInfoBinding" type="tns:dmInfoPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="VerifyMessage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="MessageEnvelopeDownload">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="MarkMessageAsDownloaded">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="GetDeliveryInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="GetSignedDeliveryInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="GetListOfSentMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
 
    <operation name="GetListOfReceivedMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
 
     <operation name="GetMessageStateChanges">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    
     <operation name="GetMessageAuthor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    
     <operation name="GetMessageAuthor2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    
     <operation name="EraseMessage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

     <operation name="GetListOfErasedMessages">
         <soap:operation soapAction="" />
         <input>
             <soap:body use="literal" />
         </input>
         <output>
             <soap:body use="literal" />
         </output>
     </operation>

     <operation name="PickUpAsyncResponse">
         <soap:operation soapAction="" />
         <input>
             <soap:body use="literal" />
         </input>
         <output>
             <soap:body use="literal" />
         </output>
     </operation>

     <operation name="GetListForNotifications">
         <soap:operation soapAction="" />
         <input>
             <soap:body use="literal" />
         </input>
         <output>
             <soap:body use="literal" />
         </output>
     </operation>

     <operation name="RegisterForNotifications">
         <soap:operation soapAction="" />
         <input>
             <soap:body use="literal" />
         </input>
         <output>
             <soap:body use="literal" />
         </output>
     </operation>

     <operation name="SentMessageEnvelopeDownload">
         <soap:operation soapAction="" />
         <input>
             <soap:body use="literal" />
         </input>
         <output>
             <soap:body use="literal" />
         </output>
     </operation>

     <operation name="SuspMessageReport">
         <soap:operation soapAction="" />
         <input>
             <soap:body use="literal" />
         </input>
         <output>
             <soap:body use="literal" />
         </output>
     </operation>

 </binding>

  <!-- ******************************************************************* -->
  <service name="dmInfoWebService">
    <port name="dmInfoPortType" binding="tns:dmInfoBinding">
      <soap:address location="https://ws1.mojedatovaschranka.cz/DS/dx"/>
    </port>
  </service>

</definitions>

