Resources/dmBaseTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2020 (https://www.liquid-technologies.com)-->
<!-- ************************************************************************
   XSD schema typů použitých ve WSDL pro manipulaci s datovými zprávami

   verze: 3.03  (společná verze pro definice verze 2.35 i 3.02)
   klasifikace: Veřejný dokument    
                       
 Změny:  
     5.2.2009  verze 0.1   základní verze
     3.6.2009  verze 2.0   - novela zákona 300/2008 Sb. a ChangeRequesty
                           - do obálky stažené zprávy (a tudíž do všech struktur pracujících se zprávou) přibyl element dmSenderType typu int pro typ DS odesílatele 
                           - do stažené zprávy (tReturnedMessage), stažené obálky zprávy (tReturnedMessageEnvelope) a do staženého seznamu zpráv (tRecord) přibyl element dmAttachmentSize typu int pro velikost přílohy v DS
                           - na vstup služby CreateMessage (element CreateMessage) přibyl nepovinný element dmOVM pro příznak, je-li DZ odesílána v režimu OVM (pro DS typu OVM nepodstatný)
     9.6.2009 verze 2.1    - do obálky zprávy přibyl nepovinný element dmAmbiguousRecipient  
                           - změna namespace pro verzi ISDS 2                     
    1.10.2009 verze 2.5    - přidány typy pro WS CreateMultipleMessage (oběžník = DZ pro více adresátů)
    1.11.2009 verze 2.6    - přidány nepovinné atributy dmType do obálky zprávy a seznamu zpráv (rozlišení komerční zprávy)
                           - přidány typy pro WS ConfirmDelivery (potvrzení doručení komerční zprávy)
    2.3.2010 verze 2.9     - u elementu dmQTimestamp povolena nil hodnota 
                           - přidán nepovinný atribut dmType k elementu dmEnvelope u CreateMessage
                           - nová WS AuthenticateMessage
                           - formální změny v umistění nepovinných atributů dmType u obálky a seznamu; beze změny v XML
    11.10.2010 verze 2.10  - přidání typů pro WS GetMessageStateChanges
    10.11.2010 verze 2.11  - přidání typů pro WS GetMessageAuthor
                           - přidání nepovinného elementu dmPublishOwnID do  CreateMessage a CreateMultipleMessage                        
  	25.09.2011 verze 2.15  - novela zákona 300/2008 Sb.
                           - přidání dalších typů zprávy (různé podtypy PDZ)
                       	   - Create[Multiple]Message - nepovinný atribut dmType pro označení Iniciační poštovní zprávy pro Odpovědní DZ resp. Odpovědní DZ
    12.04.2012 verze 2.16 - přidání typů pro WS EraseMessage      
    27.07.2012 verze 2.17 - přidání typů pro WS Re-signISDSDocument    
    05.12.2013 verze 2.18a - drobná oprava u dmXMLContent  
	17.04.2014 verze 2.18b - pouze opravy komentářů u atributů elementu dmFile
    12.09.2015 verze 2.20 - sjednocení verzí
    14.10.2015 verze 2.22 - sjednocení verzí
    21.11.2017 verze 2.27 - sjednocení verzí
    04.09.2018 verze 2.31 - sjednocení verzí
    29.07.2021 verze 2.33 - nové služby GetListOfErasedMessages a PickUpAsyncResponse a RegisterForNotifications a GetListForNotifications
    
    24.11.2021 verze 3.0 - více změn, přidány typy pro nové služby s VoDZ, upraveny seznamy a obálky - přidány nepovinné atributy
    25.04.2022 verze 3.01 - kompatibilní rozšíření CreateMessage a CreateBigMessage o atribut s výčtem předaných osobních údajů (IdLevel)
                          - nová služba GetMessageAuthor2 
    15.06.2022 verze 3.02 - sjednocení verzí                      
    31.10.2022 verze 3.03 - kompatibilní rozšíření CreateMultipleMessage o atribut s výčtem předaných osobních údajů (IdLevel)
    
    ******************************************************************* -->
<xs:schema xmlns:tns="http://isds.czechpoint.cz/v20" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://isds.czechpoint.cz/v20" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tIdDm">
        <xs:annotation>
            <xs:documentation>ID datové zprávy</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tIdDb">
        <xs:annotation>
            <xs:documentation>ID datové schránky</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="7" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tFile">
        <xs:choice>
            <xs:element name="dmEncodedContent" type="xs:base64Binary">
                <xs:annotation>
                    <xs:documentation>obálka pro písemnost libovolného podporovaného formátu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmXMLContent">
                <xs:annotation>
                    <xs:documentation>obálka pro libovolný XML obsah</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="skip" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="tFilesArray">
        <xs:sequence>
            <xs:element name="dmFile" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Jedna písemnost DZ (=soubor nebo XML )</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tFile">
                            <xs:attribute name="dmMimeType" type="xs:string" use="required">
                                <xs:annotation>
                                    <xs:documentation>typ písemnosti v MIME zápisu, např. application/pdf nebo image/tiff</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="dmFileMetaType" use="required">
                                <xs:annotation>
                                    <xs:documentation>typ přílohy, první by měla být "main"</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="main" />
                                        <xs:enumeration value="enclosure" />
                                        <xs:enumeration value="signature" />
                                        <xs:enumeration value="meta" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="dmFileGuid" type="xs:string" use="optional">
                                <xs:annotation>
                                    <xs:documentation>nepovinný interní identifikátor tohoto dokumentu - pro vytváření stromu závislostí dokumentů</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="dmUpFileGuid" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>nepovinný interní identifikátor nadřízeného dokumentu (např. pro vztah soubor - podpis aj.)</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="dmFileDescr" type="xs:string" use="required">
                                <xs:annotation>
                                    <xs:documentation>Název souboru</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="dmFormat" type="xs:string" use="optional">
                                <xs:annotation>
                                    <xs:documentation>nepovinný údaj, nepoužívá se v současné verzi</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tStatus">
        <xs:sequence>
            <xs:element name="dmStatusCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
            <xs:element name="dmStatusMessage" type="xs:string">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="dmStatus" type="tns:tStatus" />
    <xs:complexType name="tHash">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="algorithm" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Algoritmus hashovací funkce, např. SHA-1</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:group name="dmEvent">
        <xs:sequence>
            <xs:element name="dmEventTime" type="xs:dateTime" nillable="true" />
            <xs:element name="dmEventDescr" type="xs:string" nillable="true" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="tEvent">
        <xs:sequence>
            <xs:group ref="tns:dmEvent" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tEventsArray">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="dmEvent" type="tns:tEvent" />
        </xs:sequence>
    </xs:complexType>
    <xs:group name="gMultipleMessageEnvelopeSub">
        <xs:annotation>
            <xs:documentation>Obálka zprávy bez ID DZ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dmSenderOrgUnit" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele slovně; nepovinné, mohou doplňovat ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmSenderOrgUnitNum" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAnnotation" nillable="true">
                <xs:annotation>
                    <xs:documentation>Textová poznámka (Věc, Předmět, Anotace)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientRefNumber" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany příjemce; nepovinné, </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderRefNumber" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientIdent" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka ze strany příjemce; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderIdent" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka a strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmLegalTitleLaw" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - číslo zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleYear" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - rok vydání zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleSect" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - paragraf v zákoně; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePar" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - odstavec v paragrafu; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePoint" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - písmeno v odstavci; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmPersonalDelivery" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Příznak Do vlastních rukou - může číst pouze adresát nebo osoba s explicitně daným oprávněním</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAllowSubstDelivery" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Náhradní doručení povoleno/nepovoleno - pouze pro některé subjekty (např. soudy)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="tRecipients">
        <xs:sequence>
            <xs:element name="dbIDRecipient" type="tns:tIdDb">
                <xs:annotation>
                    <xs:documentation>ID datové schránky příjemce</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnit" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce slovně, nepovinné, možné upřesnění příjemce při podání z portálu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnitNum" type="xs:integer" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmToHands" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>K rukám - pomocný údaj </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMultipleMessageEnvelopeSub">
        <xs:sequence>
            <xs:group ref="tns:gMultipleMessageEnvelopeSub" />
            <xs:element name="dmOVM" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dmPublishOwnID" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:boolean">
                            <xs:attribute name="IdLevel" type="xs:integer" use="optional" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMultipleMessageRecipients">
        <xs:sequence>
            <xs:element name="dmRecipient" type="tns:tRecipients" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMultipleMessageCreateInput">
        <xs:sequence>
            <xs:element name="dmRecipients" type="tns:tMultipleMessageRecipients" />
            <xs:element name="dmEnvelope">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tMultipleMessageEnvelopeSub">
                            <xs:attribute name="dmType" type="tns:tDmType" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dmFiles" type="tns:tFilesArray" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateMultipleMessage" type="tns:tMultipleMessageCreateInput" />
    <xs:complexType name="tMultipleStatus">
        <xs:sequence>
            <xs:element name="dmSingleStatus" type="tns:tMStatus" minOccurs="1" maxOccurs="unbounded" nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMStatus">
        <xs:sequence>
            <xs:element name="dmID" type="tns:tIdDm" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMultipleMessageCreateOutput">
        <xs:sequence>
            <xs:element name="dmMultipleStatus" type="tns:tMultipleStatus" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateMultipleMessageResponse" type="tns:tMultipleMessageCreateOutput" />
    <xs:group name="gMessageEnvelopeSub">
        <xs:annotation>
            <xs:documentation>Obálka zprávy bez ID DZ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dmSenderOrgUnit" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele slovně; nepovinné, mohou doplňovat ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmSenderOrgUnitNum" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbIDRecipient" type="tns:tIdDb" nillable="true">
                <xs:annotation>
                    <xs:documentation>ID datové schránky příjemce</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnit" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce slovně, nepovinné, možné upřesnění příjemce při podání z portálu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnitNum" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmToHands" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>K rukám - pomocný údaj </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAnnotation" nillable="true">
                <xs:annotation>
                    <xs:documentation>Textová poznámka (Věc, Předmět, Anotace)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientRefNumber" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany příjemce; nepovinné, </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderRefNumber" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientIdent" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka ze strany příjemce; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderIdent" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka a strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmLegalTitleLaw" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - číslo zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleYear" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - rok vydání zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleSect" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - paragraf v zákoně; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePar" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - odstavec v paragrafu; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePoint" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - písmeno v odstavci; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmPersonalDelivery" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Příznak Do vlastních rukou - může číst pouze adresát nebo osoba s explicitně daným oprávněním</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAllowSubstDelivery" type="xs:boolean" nillable="true">
                <xs:annotation>
                    <xs:documentation>Náhradní doručení povoleno/nepovoleno - pouze pro některé subjekty (např. soudy)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="gMessageEnvelope">
        <xs:annotation>
            <xs:documentation>Kompletní obálka zprávy včetně ID DZ a ostatnich elementu, které se nezadávají při vytvoření DZ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dmID" type="tns:tIdDm">
                <xs:annotation>
                    <xs:documentation>ID datové zprávy</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbIDSender" type="tns:tIdDb" nillable="true">
                <xs:annotation>
                    <xs:documentation>ID datové schránky odesílatele</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmSender" nillable="true">
                <xs:annotation>
                    <xs:documentation>Odesílatel slovně; doplňuje ISDS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderAddress" nillable="true">
                <xs:annotation>
                    <xs:documentation>Poštovní adresa odesílatele - požadavek ESS; doplňuje ISDS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderType" type="xs:int">
                <xs:annotation>
                    <xs:documentation>hrubý typ schránky odesílatele (10=OVM,20=PO,30=PFO,40=FO)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipient" nillable="true">
                <xs:annotation>
                    <xs:documentation>Příjemce slovně; doplňuje ISDS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientAddress" nillable="true">
                <xs:annotation>
                    <xs:documentation>Poštovní adresa příjemce - požadavek ESS; doplňuje ISDS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmAmbiguousRecipient" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Příznak, že adresát je ne-OVM povýšené na OVM (§5a)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:gMessageEnvelopeSub" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="tReturnedMessage">
        <xs:annotation>
            <xs:documentation>typ pro staženou DZ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dmDm">
                <xs:annotation>
                    <xs:documentation>Datová zpráva</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="tns:gMessageEnvelope" />
                        <xs:element name="dmFiles" type="tns:tFilesArray">
                            <xs:annotation>
                                <xs:documentation>Pole písemností DZ</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dmHash" type="tns:tHash">
                <xs:annotation>
                    <xs:documentation>Hash kompletní DZ (z elementu dmDm)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmQTimestamp" type="xs:base64Binary" nillable="true">
                <xs:annotation>
                    <xs:documentation>Kvalifikované časové razítko</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>čas dodání do DS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>čas doručení</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmMessageStatus" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Stav DZ (dodaná, doručená atd.); celé číslo 1-9</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAttachmentSize" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
    </xs:complexType>
    <xs:complexType name="tReturnedMessageEnvelope">
        <xs:annotation>
            <xs:documentation>typ pro staženou obálku DZ (bez písemností, hash neplatí)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dmDm">
                <xs:complexType>
                    <xs:group ref="tns:gMessageEnvelope" />
                </xs:complexType>
            </xs:element>
            <xs:element name="dmHash" type="tns:tHash">
                <xs:annotation>
                    <xs:documentation>Hash kompletní DZ vč. písemností, hash nejde spočítat z obálky!</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmQTimestamp" type="xs:base64Binary" />
            <xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true" />
            <xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true" />
            <xs:element name="dmMessageStatus" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Stav DZ - celé číslo 1-9</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAttachmentSize" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
        <xs:attribute name="dmVODZ" type="xs:boolean" />
        <xs:attribute name="attsNum" type="xs:integer" />
    </xs:complexType>
    <xs:complexType name="tMessageEnvelopeSub">
        <xs:annotation>
            <xs:documentation>typ pro WS CreateMessage na vstupu</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="tns:gMessageEnvelopeSub" />
            <xs:element name="dmOVM" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dmPublishOwnID" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:boolean">
                            <xs:attribute name="IdLevel" type="xs:integer" use="optional" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
    </xs:complexType>
    <xs:complexType name="tMessageCreateInput">
        <xs:sequence>
            <xs:element name="dmEnvelope">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tMessageEnvelopeSub" />
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dmFiles" type="tns:tFilesArray" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateMessage" type="tns:tMessageCreateInput" />
    <xs:complexType name="tMessageCreateOutput">
        <xs:sequence>
            <xs:element name="dmID" type="tns:tIdDm" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateMessageResponse" type="tns:tMessageCreateOutput" />
    <xs:element name="VerifyMessage" type="tns:tIDMessInput" />
    <xs:complexType name="tMessageVerifyOutput">
        <xs:sequence>
            <xs:element name="dmHash" type="tns:tHash" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="VerifyMessageResponse" type="tns:tMessageVerifyOutput" />
    <xs:complexType name="tDelivery">
        <xs:annotation>
            <xs:documentation>typ pro Dodejku, Doručenku a Nedoručenku</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dmDm">
                <xs:complexType>
                    <xs:group ref="tns:gMessageEnvelope" />
                </xs:complexType>
            </xs:element>
            <xs:element name="dmHash" type="tns:tHash" />
            <xs:element name="dmQTimestamp" type="xs:base64Binary" />
            <xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true" />
            <xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true" />
            <xs:element name="dmMessageStatus" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Stav DZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmEvents" type="tns:tEventsArray">
                <xs:annotation>
                    <xs:documentation>pole událostí dané DZ (obvykle jen dodání a doručení)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDeliveryInfo" type="tns:tIDMessInput" />
    <xs:complexType name="tDeliveryMessageOutput">
        <xs:sequence>
            <xs:element name="dmDelivery" type="tns:tDelivery" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dmStatus" type="tns:tStatus" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDeliveryInfoResponse" type="tns:tDeliveryMessageOutput" />
    <xs:element name="GetSignedDeliveryInfo" type="tns:tIDMessInput" />
    <xs:complexType name="tSignDelivMessOutput">
        <xs:sequence>
            <xs:element name="dmSignature" type="xs:base64Binary" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetSignedDeliveryInfoResponse" type="tns:tSignDelivMessOutput" />
    <xs:complexType name="tRecord">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="dmOrdinal">
                <xs:annotation>
                    <xs:documentation>Pořadové číslo v seznamu</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:group ref="tns:gMessageEnvelope" />
            <xs:element name="dmMessageStatus" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Stav DZ, celé číslo 1 - 9</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAttachmentSize" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>Čas dodání</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>Čas doručení</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="dmType" use="optional">
            <xs:simpleType>
                <xs:restriction base="tns:tDmType" />
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="dmVODZ" type="xs:boolean" />
    </xs:complexType>
    <xs:complexType name="tRecordsArray">
        <xs:annotation>
            <xs:documentation>typ pro vrácený seznam DZ</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dmRecord" type="tns:tRecord" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tListOfSentInput">
        <xs:sequence>
            <xs:element name="dmFromTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>čas dodání od</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmToTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>čas dodání do</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmSenderOrgUnitNum" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>org. jednotka odesílatele - číselník ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmStatusFilter" type="xs:string">
                <xs:annotation>
                    <xs:documentation>filtr na stav zprávy</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmOffset" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>od kolikátého záznamu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLimit" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>kolik záznamů</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tListOfMessOutput">
        <xs:sequence>
            <xs:element name="dmRecords" type="tns:tRecordsArray" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>pole výsledků</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tListOfFReceivedInput">
        <xs:sequence>
            <xs:element name="dmFromTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>čas dodání od</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmToTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>čas dodání do</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnitNum" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>org. jednotka příjemce - z číselníku ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmStatusFilter" type="xs:string">
                <xs:annotation>
                    <xs:documentation>filtr na stav zprávy</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmOffset" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>od kolikátého záznamu (od 1)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLimit" type="xs:integer" nillable="true">
                <xs:annotation>
                    <xs:documentation>kolik záznamů</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetListOfSentMessages" type="tns:tListOfSentInput" />
    <xs:element name="GetListOfSentMessagesResponse" type="tns:tListOfMessOutput" />
    <xs:element name="GetListOfReceivedMessages" type="tns:tListOfFReceivedInput" />
    <xs:element name="GetListOfReceivedMessagesResponse" type="tns:tListOfMessOutput" />
    <xs:complexType name="tIDMessInput">
        <xs:sequence>
            <xs:element name="dmID" type="tns:tIdDm" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMessDownOutput">
        <xs:sequence>
            <xs:element name="dmReturnedMessage" type="tns:tReturnedMessage" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dmStatus" type="tns:tStatus" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MessageDownload" type="tns:tIDMessInput" />
    <xs:element name="MessageDownloadResponse" type="tns:tMessDownOutput" />
    <xs:complexType name="tMessEnvelDownOutput">
        <xs:sequence>
            <xs:element name="dmReturnedMessageEnvelope" type="tns:tReturnedMessageEnvelope" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MessageEnvelopeDownload" type="tns:tIDMessInput" />
    <xs:element name="MessageEnvelopeDownloadResponse" type="tns:tMessEnvelDownOutput" />
    <xs:complexType name="tSignedMessDownOutput">
        <xs:sequence>
            <xs:element name="dmSignature" type="xs:base64Binary" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SignedMessageDownload" type="tns:tIDMessInput" />
    <xs:element name="SignedMessageDownloadResponse" type="tns:tSignedMessDownOutput" />
    <xs:complexType name="tMarkMessOutput">
        <xs:sequence>
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MarkMessageAsDownloaded" type="tns:tIDMessInput" />
    <xs:element name="MarkMessageAsDownloadedResponse" type="tns:tMarkMessOutput" />
    <xs:element name="SignedSentMessageDownload" type="tns:tIDMessInput" />
    <xs:element name="SignedSentMessageDownloadResponse" type="tns:tSignedMessDownOutput" />
    <xs:simpleType name="tDmType">
        <xs:annotation>
            <xs:documentation>typ DZ: na vstupu CreateMessage:
K = komerční DZ, O = vynucení odpovědní DZ, I = iniciační pro ODZ, V = veřejná DZ; nepoužitý atribut = veřejná DZ
Na výstupu: 
K - smluvní PDZ, O - odpovědní PDZ, G - globálně dotovaná, Z - omezeně dotovaná, D - externě dotovaná, E - EPZ, I - iniciační k ODZ, Y - iniciační k ODZ zkonzumovaná, X - iniciační k ODZ expirovaná, A - iniciační k ODZ dotovaná, B - dotovaná iniciační k ODZ zkonzumovaná, C - dotovaná iniciační k ODZ expirovaná, neuvedeno = veřejná DZ</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tAuthenticateMessageInput">
        <xs:sequence>
            <xs:element name="dmMessage" type="xs:base64Binary" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Podepsaná datová zpráva b base64 kódování</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AuthenticateMessage" type="tns:tAuthenticateMessageInput" />
    <xs:complexType name="tAuthenticateMessageOutput">
        <xs:sequence>
            <xs:element name="dmAuthResult" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Výsledek ověření zprávy</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AuthenticateMessageResponse" type="tns:tAuthenticateMessageOutput" />
    <xs:complexType name="tGetStateChangesInput">
        <xs:sequence>
            <xs:element name="dmFromTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>čas dodání od</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmToTime" type="xs:dateTime" nillable="true">
                <xs:annotation>
                    <xs:documentation>čas dodání do</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetMessageStateChanges" type="tns:tGetStateChangesInput" />
    <xs:complexType name="tStateChangesRecord">
        <xs:sequence>
            <xs:element name="dmID" type="tns:tIdDm" />
            <xs:element name="dmEventTime" type="xs:dateTime" />
            <xs:element name="dmMessageStatus" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tStateChangesArray">
        <xs:annotation>
            <xs:documentation>typ pro vrácený seznam DZ</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="dmRecord" type="tns:tStateChangesRecord" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tGetStateChangesOutput">
        <xs:sequence>
            <xs:element name="dmRecords" type="tns:tStateChangesArray" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>pole výsledků</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetMessageStateChangesResponse" type="tns:tGetStateChangesOutput" />
    <xs:element name="DummyOperation" type="xs:string" nillable="true" />
    <xs:complexType name="tGetAuthorInput">
        <xs:sequence>
            <xs:element name="dmID" type="tns:tIdDm" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetMessageAuthor" type="tns:tGetAuthorInput" />
    <xs:complexType name="tGetAuthorOutput">
        <xs:sequence>
            <xs:element name="userType" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="authorName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetMessageAuthorResponse" type="tns:tGetAuthorOutput" />
    <xs:element name="EraseMessage" type="tns:tEraseMessageIntput" />
    <xs:complexType name="tEraseMessageIntput">
        <xs:sequence>
            <xs:element name="dmID" type="tns:tIdDm" />
            <xs:element name="dmIncoming" type="xs:boolean" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EraseMessageResponse" type="tns:tEraseMessageOutput" />
    <xs:complexType name="tEraseMessageOutput">
        <xs:sequence>
            <xs:element name="dmStatus" type="tns:tStatus" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Re-signISDSDocument" type="tns:tResignDocInput" />
    <xs:complexType name="tResignDocInput">
        <xs:sequence>
            <xs:element name="dmDoc" type="xs:base64Binary" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Re-signISDSDocumentResponse" type="tns:tResignDocOutput" />
    <xs:complexType name="tResignDocOutput">
        <xs:sequence>
            <xs:element name="dmResultDoc" type="xs:base64Binary" nillable="true" />
            <xs:element name="dmValidTo" type="xs:date" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetListOfErasedMessages" type="tns:tGetListOfErasedInput" />
    <xs:complexType name="tGetListOfErasedInput">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="dmFromDate" type="xs:date" />
                    <xs:element name="dmToDate" type="xs:date" />
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="dmYear" type="xs:positiveInteger" />
                    <xs:element name="dmMonth" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:choice>
            <xs:element name="dmMessageType" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SENT" />
                        <xs:enumeration value="RECEIVED" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmOutFormat" minOccurs="1" maxOccurs="1" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="XML" />
                        <xs:enumeration value="CSV" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetListOfErasedMessagesResponse" type="tns:tGetListOfErasedOutput" />
    <xs:complexType name="tGetListOfErasedOutput">
        <xs:sequence>
            <xs:element name="asyncID" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PickUpAsyncResponse" type="tns:tPickUpAsyncInput" />
    <xs:complexType name="tPickUpAsyncInput">
        <xs:sequence>
            <xs:element name="asyncID" type="xs:string" />
            <xs:element name="asyncReqType" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PickUpAsyncResponseResponse" type="tns:tPickUpAsyncOutput" />
    <xs:complexType name="tPickUpAsyncOutput">
        <xs:sequence>
            <xs:element name="asyncReqType" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="asyncResponse" type="xs:base64Binary" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetListForNotifications" type="tns:tListForNotifInput" />
    <xs:complexType name="tListForNotifInput">
        <xs:sequence>
            <xs:element name="ntfFromTime" type="xs:dateTime" />
            <xs:element name="ntfScope" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetListForNotificationsResponse" type="tns:tListForNotifOutput" />
    <xs:complexType name="tListForNotifOutput">
        <xs:sequence>
            <xs:element name="ntfRecords" type="tns:tNtfRecordsArray" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="ntfListContinues" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tNtfRecordsArray">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="ntfRecord" type="tns:tNtfRecord" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tNtfRecord">
        <xs:sequence>
            <xs:element name="ntfType" type="xs:integer" />
            <xs:element name="dmID" type="tns:tIdDm" />
            <xs:element name="dmPersonalDelivery" type="xs:integer" />
            <xs:element name="dmDeliveryTime" type="xs:dateTime" />
            <xs:element name="dbIDRecipient" type="tns:tIdDb" />
            <xs:element name="dmAnnotation" type="xs:string" />
            <xs:element name="dbIDSender" type="tns:tIdDb" />
            <xs:element name="dmSender" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RegisterForNotifications">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="action" type="xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegisterForNotificationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmStatus" type="tns:tStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UploadAttachment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmFile" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dmEncodedContent" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" />
                        </xs:sequence>
                        <xs:attribute name="dmMimeType" type="xs:string" use="required" />
                        <xs:attribute name="dmFileDescr" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UploadAttachmentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmAttID" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="dmAttHash1" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="AttHashAlg" type="xs:string" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dmAttHash2" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="AttHashAlg" type="xs:string" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dmStatus" type="tns:tStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DownloadAttachment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmID" type="xs:string" />
                <xs:element name="attNum" type="xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DownloadAttachmentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmFile" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dmEncodedContent" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" />
                        </xs:sequence>
                        <xs:attribute name="dmFileMetaType" type="xs:string" />
                        <xs:attribute name="dmMimeType" type="xs:string" />
                        <xs:attribute name="dmFileDescr" type="xs:string" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="dmStatus" type="tns:tStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateBigMessage" type="tns:tBigMessageInput" />
    <xs:complexType name="tBigMessageInput">
        <xs:sequence>
            <xs:element name="dmEnvelope" type="tns:tBigMessEnvelope" />
            <xs:element name="dmFiles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dmExtFile" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="dmFileMetaType" type="xs:string" use="required" />
                                <xs:attribute name="dmAttID" type="xs:string" use="required" />
                                <xs:attribute name="dmAttHash1" type="xs:string" use="required" />
                                <xs:attribute name="dmAttHash1Alg" type="xs:string" use="required" />
                                <xs:attribute name="dmAttHash2" type="xs:string" use="required" />
                                <xs:attribute name="dmAttHash2Alg" type="xs:string" use="required" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="dmFile" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="dmEncodedContent" type="xs:base64Binary" />
                                </xs:sequence>
                                <xs:attribute name="dmFileMetaType" type="xs:string" use="required" />
                                <xs:attribute name="dmFileDescr" type="xs:string" use="required" />
                                <xs:attribute name="dmMimeType" type="xs:string" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tBigMessEnvelope">
        <xs:sequence>
            <xs:element name="dmSenderOrgUnit" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele slovně; nepovinné, mohou doplňovat ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmSenderOrgUnitNum" type="xs:integer" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbIDRecipient" type="tns:tIdDb" nillable="true">
                <xs:annotation>
                    <xs:documentation>ID datové schránky příjemce</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnit" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce slovně, nepovinné, možné upřesnění příjemce při podání z portálu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnitNum" type="xs:integer" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmToHands" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>K rukám - pomocný údaj </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAnnotation" nillable="true">
                <xs:annotation>
                    <xs:documentation>Textová poznámka (Věc, Předmět, Anotace)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientRefNumber" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany příjemce; nepovinné, </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderRefNumber" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientIdent" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka ze strany příjemce; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderIdent" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka a strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmLegalTitleLaw" type="xs:integer" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - číslo zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleYear" type="xs:integer" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - rok vydání zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleSect" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - paragraf v zákoně; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePar" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - odstavec v paragrafu; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePoint" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Zmocnění - písmeno v odstavci; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmPersonalDelivery" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Příznak Do vlastních rukou - může číst pouze adresát nebo osoba s explicitně daným oprávněním</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAllowSubstDelivery" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:annotation>
                    <xs:documentation>Náhradní doručení povoleno/nepovoleno - pouze pro některé subjekty (např. soudy)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmOVM" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
            <xs:element name="dmPublishOwnID" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:boolean">
                            <xs:attribute name="IdLevel" type="xs:integer" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="dmType" type="xs:string" use="optional" />
    </xs:complexType>
    <xs:element name="CreateBigMessageResponse" type="tns:tBigMessageOutput" />
    <xs:complexType name="tBigMessageOutput">
        <xs:sequence>
            <xs:element name="dmID" type="tns:tIdDm" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AuthenticateBigMessage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmMessage" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AuthenticateBigMessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmAuthResult" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true" />
                <xs:element name="dmStatus" type="tns:tStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SignedBigMessageDownload">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmID" type="tns:tIdDm" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SignedBigMessageDownloadResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmSignature" type="xs:base64Binary" minOccurs="0" maxOccurs="1" xmime:expectedContentTypes="application/octet-stream" />
                <xs:element name="dmStatus" type="tns:tStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SignedSentBigMessageDownload">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmID" type="tns:tIdDm" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SignedSentBigMessageDownloadResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmSignature" type="xs:base64Binary" minOccurs="0" maxOccurs="1" xmime:expectedContentTypes="application/octet-stream" />
                <xs:element name="dmStatus" type="tns:tStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BigMessageDownload">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmID" type="tns:tIdDm" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BigMessageDownloadResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmReturnedMessage" minOccurs="0" maxOccurs="1" nillable="true">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:sequence>
                                <xs:element name="dmDm">
                                    <xs:annotation>
                                        <xs:documentation>Datová zpráva</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:group ref="tns:gMessageEnvelope" />
                                            <xs:element name="dmFiles" type="tns:tFilesArray">
                                                <xs:annotation>
                                                    <xs:documentation>Pole písemností DZ</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="dmHash" type="tns:tHash">
                                    <xs:annotation>
                                        <xs:documentation>Hash kompletní DZ (z elementu dmDm)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="dmQTimestamp" type="xs:base64Binary" nillable="true">
                                    <xs:annotation>
                                        <xs:documentation>Kvalifikované časové razítko</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="dmDeliveryTime" type="xs:dateTime" nillable="true">
                                    <xs:annotation>
                                        <xs:documentation>čas dodání do DS</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="dmAcceptanceTime" type="xs:dateTime" nillable="true">
                                    <xs:annotation>
                                        <xs:documentation>čas doručení</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="dmMessageStatus" type="xs:integer">
                                    <xs:annotation>
                                        <xs:documentation>Stav DZ (dodaná, doručená atd.); celé číslo 1-9</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="dmAttachmentSize" type="xs:integer" nillable="true">
                                    <xs:annotation>
                                        <xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:sequence>
                        <xs:attribute name="dmType" type="tns:tDmType" />
                        <xs:attribute name="dmVODZ" type="xs:boolean" />
                        <xs:attribute name="attsNum" type="xs:integer" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="dmStatus" type="tns:tStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetMessageAuthor2" type="tns:tGetAuthorInput" />
    <xs:element name="GetMessageAuthor2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dmMessageAuthor" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="maItem" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="key" type="xs:string" use="required" />
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dmStatus" type="tns:tStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>